<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GuilanRice</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GuilanRice.styles.css" asp-append-version="true" />

    <meta name="description" content="Rice Industries - Best Rice Dealer and Exporter. ">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133720731-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-133720731-1');
    </script>
    
       

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">GuilanRice</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-area bg-img" >
        <!--main footerarea-->
        <div class="main-footer-area">
           <div class="container">
               <div class="row">

                   <!--single footer widget-->
                   <div class="col-12 col-sm-6 col-lg-3">
                       <div class="single-footer-widget">
                           <div class="footer-logo mb-30" >
                               <a href="#">
                                <img src="/img/logo.png" alt="">
                                </a>
                           </div>
                            <p>Experience the taste and texture of fine rice with each order from Rice distributer, where you can taste the difference.</p>
                            <div class="social-info">
                                <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                                <a href="#"><i class='bx bxl-twitter'></i></a>
                                <a href="#"><i class='bx bxl-google-plus'></i></a>
                            </div>
                       </div>
                   </div>


                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-6">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>BEST SELLER</h5>
                            </div>

                            <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="products.php"><img src="/img/sella.jpg" width="70px" height="92px" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="products.php">Rice Premium</a>
                                    <p>COOK EASY RICE 20 KG (Sella Sonam)</p>
                                </div>
                            </div>

                            <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="products.php"><img src="/img/steam.jpg" width="70px" height="50px" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="products.php">Rice Premium</a>
                                    <p>COOK EASY RICE 20 KG (Steam Sonam)</p>
                                </div>
                            </div>

                            <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="products.php"><img src="/img/sella25.jpg" width="70px" height="93px" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="products.php">Rice Premium</a>
                                    <p>COOK EASY RICE 25 Kg (Sella Sonam)</p>
                                </div>
                            </div>

                            <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="products.php"><img src="/img/steam25.jpg" width="70px" height="50px" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="products.php">Rice Premium</a>
                                    <p>COOK EASY RICE 25 Kg (Steam Katarni)</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>CONTACT</h5>
                            </div>

                            <div class="contact-information">
                                <p>
                                    <span>Address:</span>
                                    Planet Earth<br />
                                    Milky Way Galaxy<br />
                                    Patna
                                </p>
                                <p><span>Phone:</span>+91-8789529215</p>
                                <p><span>Email:</span> mail@trickuweb.com</p>
                                <p><span>Email (For any enquery related to rice export):</span> riceexport@trickuweb.com </p>
                                <p><span>Open hours:</span> Mon - Sun: 10 AM to 6 PM</p>
                            </div>
                        </div>
                    </div>


                </div>
           </div>
        </div>
        
        <!-- Footer Bottom Area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="border-line"></div>
                    </div>
                    <!-- Copywrite Text -->
                    <div class="col-12 col-md-6">
                        <div class="copywrite-text">
                            <p>
                                &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Developed by <a href="https://www.trickuweb.com" target="_blank" title="Website Design and Software Development Company Patna" style="color: #b7b7b7;">TrickuWeb    </a>
                            </p>
                        </div>
                    </div>
                    <!-- Footer Nav -->
                    <div class="col-12 col-md-6">
                        <div class="footer-nav">
                            <nav>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#.php">Products</a></li>
                                    <li><a href="#.php">Careers</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
     </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>