<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>@ViewData["Title"] - GuilanRice</title>
    <meta name="description" content="Rice Industries - Best Rice Dealer and Exporter. ">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Style.css" />
@*     <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/classy-nav.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/elegant-icon.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" /> *@
</head>

<body>
    <header class="header-area">

        <!-- ***** Top Header Area ***** -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Top Header Content -->
                            <div class="top-header-meta">
                                <a href="mailto:mail@trickuweb.com?Subject=Hello%20" data-toggle="tooltip" data-placement="bottom" title="mail@trickuweb.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: mail@trickuweb.com</span></a>
                                <a href="tel:+91-8789529215" data-toggle="tooltip" data-placement="bottom" title="+91 70910-967-77/ 78 /79 /80"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +91-8789529215</span></a>
                            </div>

                            <!-- Top Header Content -->
                            <div class="top-header-meta d-flex">
                              
                                <div>
                                    <a target="_blank" href="https://www.facebook.com/pg/Maa-Durga-Industries-494943811033094/about/?ref=page_internal"><i class="fa fa-facebook" target="_blank" aria-hidden="true"></i></a>
                                </div>
                                <div>
                                    <a target="_blank" href="https://twitter.com/maadurgaindus"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </div>
                                <div>
                                    <a target="_blank" href="https://plus.google.com/111444152594664066019"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Navbar Area ***** -->
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="alazeaNav">

                        <!-- Nav Brand -->
                        <a href="#" class="nav-brand"><img src="img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Navbar Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.php">Home</a></li>
                                    <li><a href="about.php">About Us</a></li>
                                    <li><a href="products.php">Our Products</a></li>
                                    <li><a href="careers.php">Careers</a></li>
                                    <li><a href="contact.php">Contact</a></li>
                                </ul>

                            </div>
                            <!-- Navbar End -->
                        </div>
                    </nav>

                </div>
            </div>
    </header>
    <!-- ##### Header Area End ##### -->








    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img" style="background-image: url(img/bg-img/3.jpg);">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="footer-logo mb-30">
                                <a href="#"><img src="img/core-img/logo.png" alt=""></a>
                            </div>
                            <p>Experience the taste and texture of fine rice with each order from Rice distributer, where you can taste the difference.</p>
                            <div class="social-info">
                                <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook" target="_blank" aria-hidden="true"></i></a>
                                <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-6">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>BEST SELLER</h5>
                            </div>

                            <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="products.php"><img src="img/bg-img/sella.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="products.php">Rice Premium</a>
                                    <p>COOK EASY RICE 20 KG (Sella Sonam)</p>
                                </div>
                            </div>

                            <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="products.php"><img src="img/bg-img/steam.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="products.php">Rice Premium</a>
                                    <p>COOK EASY RICE 20 KG (Steam Sonam)</p>
                                </div>
                            </div>

                            <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="products.php"><img src="img/bg-img/sella25.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="products.php">Rice Premium</a>
                                    <p>COOK EASY RICE 25 Kg (Sella Sonam)</p>
                                </div>
                            </div>

                            <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="products.php"><img src="img/bg-img/steam25.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="products.php">Rice Premium</a>
                                    <p>COOK EASY RICE 25 Kg (Steam Katarni)</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>CONTACT</h5>
                            </div>

                            <div class="contact-information">
                                <p>
                                    <span>Address:</span>
                                    Planet Earth<br />
                                    Milky Way Galaxy<br />
                                    Patna
                                </p>
                                <p><span>Phone:</span>+91-8789529215</p>
                                <p><span>Email:</span> mail@trickuweb.com</p>
                                <p><span>Email (For any enquery related to rice export):</span> riceexport@trickuweb.com </p>
                                <p><span>Open hours:</span> Mon - Sun: 10 AM to 6 PM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Bottom Area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="border-line"></div>
                    </div>
                    <!-- Copywrite Text -->
                    <div class="col-12 col-md-6">
                        <div class="copywrite-text">
                            <p>
                                &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Developed by <a href="https://www.trickuweb.com" target="_blank" title="Website Design and Software Development Company Patna">TrickuWeb</a>
                            </p>
                        </div>
                    </div>
                    <!-- Footer Nav -->
                    <div class="col-12 col-md-6">
                        <div class="footer-nav">
                            <nav>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Products</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <script src="~/js/jquery/jquery-2.2.4.js"></script>
    <script src="~/js/bootstrap/popper.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/js/plugins/plugins.js"></script>
    <script src="~/js/active.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>