@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <div class="hero-post-slides owl-carousel">

        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(img/bg-img/1.jpg);"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>Rice INDUSTRIES</h2>
                            <p>Best Rice Processor, Exporter, Dealer & Supplier over the entire globe.</p>
                            <div class="welcome-btn-group">
                                <a href="#" class="btn alazea-btn mr-30">VIEW PRODUCTS</a>
                                <a href="#" class="btn alazea-btn active">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(img/bg-img/3.jpg);"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>Major producer of Non Basmati and Global Exporter</h2>
                            <p>Rice Industries is a Major Producer and International Supplier of Non Basmati rice. Supply Paddy, Brown and Milled rice.</p>
                            <div class="welcome-btn-group">
                                <a href="#" class="btn alazea-btn mr-30">VIEW PRODUCTS</a>
                                <a href="#" class="btn alazea-btn active">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(img/bg-img/2.jpg);"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>Taste the best texture of fine rice</h2>
                            <p>You will experience the taste and texture of fine rice with each order from Rice distributer, where you can taste the difference.</p>
                            <div class="welcome-btn-group">
                                <a href="#" class="btn alazea-btn mr-30">VIEW PRODUCTS</a>
                                <a href="#" class="btn alazea-btn active">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ##### Hero Area End ##### -->
<!-- ##### Service Area Start ##### -->
<section class="our-services-area bg-gray section-padding-100-0" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>BEST QUALITY RICE</h2>
                    <p>We provide the perfect and fine textured rice for you.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <div class="alazea-service-area mb-100">

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="img/core-img/s1.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Rice Organic Rice</h5>
                            <p>Organic Rice is rich in fiber and good for your digestion. Help you to reduce heart disease and certain cancer risk. Rice Industries work hard to deliver you high quality rice.</p>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="300ms">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="img/core-img/s2.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Rice Parboiled Rice</h5>
                            <p>Parboiled rice has a low glycemic score and double fiber than cooked white rice. A low glycemic score will prevent you from blood sugar. Make an enquiry right now get parboiled rice at wholesale rates from us.</p>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="500ms">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="img/core-img/s3.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Rice Silky Sortex Non Basmati Rice</h5>
                            <p>Rice Silky Sortex Non Basmati Rice is having high levels of proteins and unique nutritional profits. It contains vitamins, zinc magnesium, also there is no fat or cholesterol found in Rice Silky Sortex Non Basmati Rice.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="alazea-video-area bg-overlay mb-100">
                    <img src="img/bg-img/vid.jpg" alt="">
                    <a href="https://www.youtube.com/watch?v=G33_pyAzZHU" class="video-icon">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Service Area End ##### -->
<!-- ##### About Area Start ##### -->
<section class="about-us-area section-padding-100-0">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>ABOUT US</h2>
                    <p>We are leading in the rice export field.</p>
                </div>
                <p>We welcome you to Rice Indutries, best wholesale rice Processor, Exporter, Rice Milling & Supplier </p>
                <p>Rice Industries commenced its operation in India in 2008. We are dedicated to the best customer service for non basmati rice, and we hope you will help us to colour people happy.</p>
                <p>
                    We are passionate about delivering the highest quality ingredients. Our Rice has been patiently mature to preserve its delicate aromas.
                    The company's vision is to focus on a long-term business growth and our drive to innovate has set a steep bar for the food industry to follow.
                    We value every single person with a unique idea or a new vision that could contribute to the next chapter of our story.
                </p>
                <p>We have RICE dealers all over the globe. Each store is different and have its own personality, and we embrace this.</p>

            </div>

            <div class="col-12 col-lg-6">
                <div class="alazea-benefits-area">
                    <div class="row">
                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="img/core-img/b1.png" alt="">
                                <h5>Quality Products</h5>
                                <p>Get only high quality and standard products from Rice Industries. Our all products are well tested and examine before delivering to our dealers.</p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="img/core-img/b2.png" alt="">
                                <h5>Perfect Service</h5>
                                <p>We believe in providing perfect service to our clients. We follow the approach of one time promise and long time service from our end.</p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="img/core-img/b3.png" alt="">
                                <h5>100% Natural</h5>
                                <p>All of our rice is produced with natural process only. We don't use chemicals and any other artificial products.</p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="img/core-img/b4.png" alt="">
                                <h5>Environmentally friendly</h5>
                                <p>All of our products and manufacturing processes are 100% natural and environmentally friendly. We make an effort to deliver you high quality rice.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="border-line"></div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Area End ##### -->
<!-- ##### Portfolio Area Start ##### -->
<section class="alazea-portfolio-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>OUR PRODUCTS</h2>
                    <p>Reliability on high quality standards from farm to final destination, enables us to guarantee quality rice, consistent supply.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row alazea-portfolio">

        <!-- Single Portfolio Area -->
        <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item design home-design wow fadeInUp" data-wow-delay="100ms">
            <!-- Portfolio Thumbnail -->
            <div class="portfolio-thumbnail bg-img" style="background-image: url(img/bg-img/r1-25.jpg);"></div>
            <!-- Portfolio Hover Text -->
            <div class="portfolio-hover-overlay">
                <a href="img/bg-img/r1-25.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 1">
                    <div class="port-hover-text">
                        <h3>Best Quality Premium Rice</h3>
                        <h5>Extra Fine Rice</h5>
                    </div>
                </a>
            </div>
        </div>

        <!-- Single Portfolio Area -->
        <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden wow fadeInUp" data-wow-delay="200ms">
            <!-- Portfolio Thumbnail -->
            <div class="portfolio-thumbnail bg-img" style="background-image: url(img/bg-img/r2-25.jpg);"></div>
            <!-- Portfolio Hover Text -->
            <div class="portfolio-hover-overlay">
                <a href="img/bg-img/r2-25.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 2">
                    <div class="port-hover-text">
                        <h3>Best Quality Premium Rice</h3>
                        <h5>Extra Fine Rice</h5>
                    </div>
                </a>
            </div>
        </div>

        <!-- Single Portfolio Area -->
        <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden design wow fadeInUp" data-wow-delay="300ms">
            <!-- Portfolio Thumbnail -->
            <div class="portfolio-thumbnail bg-img" style="background-image: url(img/bg-img/r3-25.jpg);"></div>
            <!-- Portfolio Hover Text -->
            <div class="portfolio-hover-overlay">
                <a href="img/bg-img/r3-25.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 3">
                    <div class="port-hover-text">
                        <h3>Best Quality Premium Rice</h3>
                        <h5>Extra Fine Rice</h5>
                    </div>
                </a>
            </div>
        </div>

        <!-- Single Portfolio Area -->
        <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden office-design wow fadeInUp" data-wow-delay="400ms">
            <!-- Portfolio Thumbnail -->
            <div class="portfolio-thumbnail bg-img" style="background-image: url(img/bg-img/r4-25.jpg);"></div>
            <!-- Portfolio Hover Text -->
            <div class="portfolio-hover-overlay">
                <a href="img/bg-img/r4-25.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 4">
                    <div class="port-hover-text">
                        <h3>Best Quality Premium Rice</h3>
                        <h5>Extra Fine Rice</h5>
                    </div>
                </a>
            </div>
        </div>

        <!-- Single Portfolio Area -->
        <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item design office-design wow fadeInUp" data-wow-delay="100ms">
            <!-- Portfolio Thumbnail -->
            <div class="portfolio-thumbnail bg-img" style="background-image: url(img/bg-img/r2.jpg);"></div>
            <!-- Portfolio Hover Text -->
            <div class="portfolio-hover-overlay">
                <a href="img/bg-img/r2.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 5">
                    <div class="port-hover-text">
                        <h3>Best Quality Premium Rice</h3>
                        <h5>Extra Fine Rice</h5>
                    </div>
                </a>
            </div>
        </div>

        <!-- Single Portfolio Area -->
        <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden wow fadeInUp" data-wow-delay="200ms">
            <!-- Portfolio Thumbnail -->
            <div class="portfolio-thumbnail bg-img" style="background-image: url(img/bg-img/r3.jpg);"></div>
            <!-- Portfolio Hover Text -->
            <div class="portfolio-hover-overlay">
                <a href="img/bg-img/r3.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 6">
                    <div class="port-hover-text">
                        <h3>Best Quality Premium Rice</h3>
                        <h5>Extra Fine Rice</h5>
                    </div>
                </a>
            </div>
        </div>

        <!-- Single Portfolio Area -->
        <div class="col-12 col-lg-6 single_portfolio_item home-design wow fadeInUp" data-wow-delay="300ms">
            <!-- Portfolio Thumbnail -->
            <div class="portfolio-thumbnail bg-img" style="background-image: url(img/bg-img/r1.jpg);"></div>
            <!-- Portfolio Hover Text -->
            <div class="portfolio-hover-overlay">
                <a href="img/bg-img/r1.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 7">
                    <div class="port-hover-text">
                        <h3>Best Quality Premium Rice</h3>
                        <h5>Extra Fine Rice</h5>
                    </div>
                </a>
            </div>
        </div>

    </div>
    </div>
</section>
<!-- ##### Portfolio Area End ##### -->
<!-- ##### Subscribe Area Start ##### -->
<section class="subscribe-newsletter-area mt-5" style="background-image: url(img/bg-img/subscribe.jpg);">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-9">
                <!-- Section Heading -->
                <div class="section-heading mb-0">
                    <h2 class="text-white">TASTE THE BEST WITH Rice INDUSTRIES</h2>
                    <p class="text-white">
                        Our products are being exported to the many places in India and outside India either directly or through associates.
                        The result is guaranteed consistency at the consumer table every time. Our mission to ensure consistently longer aged rice to deliver better value to the customers.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="subscribe-form pull-right">
                    <a href="contact.php">
                        <button type="submit" class="btn alazea-btn">CONTACT NOW</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Subscribe Side Thumbnail -->
    <div class="subscribe-side-thumb wow fadeInUp" data-wow-delay="500ms">
        <img class="first-img" src="img/core-img/leaf.png" alt="">
    </div>
</section>
<!-- ##### Subscribe Area End ##### -->
